# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log
modulo01/node_modules/
modulo02/node_modules/
desafio01/node_modules/
desafio02/node_modules/